Actividad3_Diagnostico_LSCA2314/bin/
Actividad 2 - B/
actividad2-entrega.zip
actividad2/
andamio_avance1/.gitignore
Actividad 5 - B/actividad_tema10_contenedores/venv/
Actividad 5 - B/actividad_tema10_contenedores/bin/
